@font-face {
    font-family: 'header_font';
    src: url('fonts/fonts/seasrn__-webfont.woff2') format('woff2'),
         url('seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --header_width: 30vw;
    --main_width: 70vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 16px;
}

.side-bar {
    position: relative;
    box-sizing: border-box;
    width: var(--header_width);
    overflow: hidden;
}

.side-bar > img {
    position: relative;
    left: -200px;
    height: 100vh;
}

.side-bar-header {
    position: absolute;
    top: 25vh;
    left: 0;

    width: var(--header_width);

    background-color: #562F0030;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: auto;
}

.side-bar-header h1 {
    font-family: "header_font", sans-serif;
    font-size: 3em;
}

.side-bar-header h2 {
    font-family: "header_font", sans-serif;
    font-size: 1.5em;
}

.main {
    display: flex;
    flex-direction: column;

    width: var(--main_width);

    font-family: "open_sans";
    font-size: 1.5rem;
}

.main-header {
    padding: 10vh 10vw 5vh 3vw;
    font-size: 1.5rem;
    text-align: left;
    flex-wrap: wrap;

    background-color: #FFFDF1;
    border-bottom: 1px solid #562F0020;
}

.main-header p:first-child {
    margin-bottom: 2rem;
}

.main-form {
    margin-top: 2rem;
}

.main-form > p {
    padding-left: 2rem;
}

.main-form form {
    font-size: 1rem;
}

form p {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    text-align: left;
}

form input {
    height: 1.5rem;

    border: 1px solid #562F00;
    border-radius: 5px;

    font-size: 1.2rem;
    font-family: "open_sans";
}

form .inputs {
    padding-left: 2rem;
    display: flex;
    gap: 5rem;
    box-shadow: 2px 2px 2px rgb(140, 140, 140);
    padding-bottom: 2rem;
}